h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

p {
  margin: 10px 0;
}

ul {
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
}

ul ul {
  margin-left: 20px;
}

li > ul > li {
  color: orange;
  font-weight: bold;
}

hr {
  margin: 20px 0;
}

.adjacent-sibling h4 + p {
  color: orange;
  font-weight: bold;
}

.general-sibling p ~ div {
  color: orange;
  font-weight: bold;
}