@import '../../../styles/colors';
@import '../../../styles/typography';
@import '../../../styles/mixins';

$button-gradient-color-1: #04befe;
$button-gradient-color-2: #4481eb;

i {
    display: inline-block;
    margin: 5px;
    padding-top: 10px;
    width: 42px;
    height: 42px;
    background-image: linear-gradient(to top, $button-gradient-color-1, $button-gradient-color-2);
    color: $white-color;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(149, 149, 149, 0.5);
    font-size: 24px;
    text-align: center;
    transition: transform 0.5s;
    cursor: pointer;

    &.rotate {
        &:hover {
            transform: rotate(90deg);
        }
    }

    &.pulse {
        &:hover {
            animation: icon-pulse 0.5s 0s ease-out;
        }
    }
}