$white-color: #fff;
$black-color: #000;

$gray-color-3: #333;
$gray-color-4: #666;
$gray-color-5: #999;

$base-color-1: #f06d06;
$base-color-2: #ae0000;

$pulse-color-bg: #333;

$pulse-color-1: #3fb;
$pulse-color-2: #1affd9;
$pulse-color-3: orange;
$pulse-color-4: red;
$pulse-color-5: green;
$pulse-color-6: yellow;