// begin keyframes animations
@keyframes rotate-x {
  to {
    transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
  }
}
@keyframes rotate-y {
  to {
    transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
  }
}
@keyframes rotate-z {
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
  }
}

// begin svg-doughnut animations
// @-webkit-keyframes html {
//   to {
//       stroke-dashoffset: 80;
//   }
// }

// @keyframes html {
//   to {
//       stroke-dashoffset: 80;
//   }
// }

// @-webkit-keyframes css {
//   to {
//       stroke-dashoffset: 300;
//   }
// }

// @keyframes css {
//   to {
//       stroke-dashoffset: 300;
//   }
// }
// end svg-doughnut animations

// begin neon-type
// @keyframes neon-text {
//   0% {
//     text-shadow: 
//       0 0 10px $white-color, 
//       0 0 20px $white-color, 
//       0 0 30px $white-color, 
//       0 0 40px $blue-green-color, 
//       0 0 70px $blue-green-color, 
//       0 0 80px $blue-green-color, 
//       0 0 100px $blue-green-color, 
//       0 0 150px $blue-green-color;
//   }
//   100% {
//     text-shadow: 
//       0 0 5px $white-color, 
//       0 0 10px $white-color, 
//       0 0 15px $white-color, 
//       0 0 20px $blue-green-color, 
//       0 0 35px $blue-green-color, 
//       0 0 40px $blue-green-color, 
//       0 0 50px $blue-green-color, 
//       0 0 75px $blue-green-color;
//   }
// }

// @keyframes neon-box {
//   0% {
//     box-shadow: 
//       0 0 10px $white-color, 
//       0 0 20px $white-color, 
//       0 0 30px $white-color, 
//       0 0 40px $blue-green-color, 
//       0 0 70px $blue-green-color, 
//       0 0 80px $blue-green-color, 
//       0 0 100px $blue-green-color, 
//       0 0 150px $blue-green-color;
//   }
//   100% {
//     box-shadow: 
//       0 0 5px $white-color, 
//       0 0 10px $white-color, 
//       0 0 15px $white-color, 
//       0 0 20px $blue-green-color, 
//       0 0 35px $blue-green-color, 
//       0 0 40px $blue-green-color, 
//       0 0 50px $blue-green-color, 
//       0 0 75px $blue-green-color;
//   }
// }
// end neon-type

// @keyframes r1 {
//   0% {
//     box-shadow: 0 0 8px 6px $blue-green-color, 0 0 0px 0px $white-color, 0 0 0px 0px $white-color;
//   }
//   10% {
//     box-shadow: 0 0 8px 6px $blue-green-color, 0 0 12px 10px $white-color, 0 0 12px 14px $blue-green-color;
//   }
//   100% {
//     box-shadow: 0 0 8px 6px rgba(26, 217, 255, 0), 0 0 0px 40px $white-color, 0 0 0px 40px $white-color;
//   }
// }

// @keyframes r2 {
//   0% {
//     box-shadow: 0 0 8px 6px $blue-color, 0 0 0px 0px $white-color, 0 0 0px 0px $white-color;
//   }
//   10% {
//     box-shadow: 0 0 8px 6px $blue-color, 0 0 12px 10px $white-color, 0 0 12px 14px $blue-color;
//   }
//   100% {
//     box-shadow: 0 0 8px 6px rgba(26, 217, 255, 0), 0 0 0px 40px $white-color, 0 0 0px 40px $white-color;
//   }
// }

// @keyframes r3 {
//   0% {
//     box-shadow: 0 0 8px 6px $orange-color, 0 0 0px 0px $white-color, 0 0 0px 0px $white-color;
//   }
//   10% {
//     box-shadow: 0 0 8px 6px $orange-color, 0 0 12px 10px $white-color, 0 0 12px 14px $orange-color;
//   }
//   100% {
//     box-shadow: 0 0 8px 6px rgba(26, 217, 255, 0), 0 0 0px 40px $white-color, 0 0 0px 40px $white-color;
//   }
// }

// @keyframes r4 {
//   0% {
//     box-shadow: 0 0 8px 6px $red-color, 0 0 0px 0px $white-color, 0 0 0px 0px $white-color;
//   }
//   10% {
//     box-shadow: 0 0 8px 6px $red-color, 0 0 12px 10px $white-color, 0 0 12px 14px $red-color;
//   }
//   100% {
//     box-shadow: 0 0 8px 6px rgba(26, 217, 255, 0), 0 0 0px 40px $white-color, 0 0 0px 40px $white-color;
//   }
// }

// @keyframes r5 {
//   0% {
//     box-shadow: 0 0 8px 6px $green-color, 0 0 0px 0px $white-color, 0 0 0px 0px $white-color;
//   }
//   10% {
//     box-shadow: 0 0 8px 6px $green-color, 0 0 12px 10px $white-color, 0 0 12px 14px $green-color;
//   }
//   100% {
//     box-shadow: 0 0 8px 6px rgba(26, 179, 255, 0), 0 0 0px 40px $white-color, 0 0 0px 40px $white-color;
//   }
// }

// @keyframes r6 {
//   0% {
//     box-shadow: 0 0 8px 6px $brown-color, 0 0 0px 0px $white-color, 0 0 0px 0px $white-color;
//   }
//   10% {
//     box-shadow: 0 0 8px 6px $brown-color, 0 0 12px 10px $white-color, 0 0 12px 14px $brown-color;
//   }
//   100% {
//     box-shadow: 0 0 8px 6px rgba(26, 179, 255, 0), 0 0 0px 40px $white-color, 0 0 0px 40px $white-color;
//   }
// }
// // begin keyframes animations

// // begin pulse animations
// @keyframes pulse-hover {
//   from {
//     box-shadow: 0 0 8px 6px $white-color, 0 0 12px 10px $white-color, 0 0 12px 14px $white-color;
//   }
//   to {
//     box-shadow: 0 0 8px 6px rgba(255, 255, 255, 0), 0 0 4px 40px $white-color, 0 0 4px 41px rgba(255, 255, 255, 0);
//   }
// }


//icon animations
// @keyframes icon-pulse {
//   0% {
//     transform: scale(1);
//   }
//   30% {
//     transform: scale(0.7);
//   }
//   60% {
//     transform: scale(1.5);
//     opacity: 0.75;
//   }
//   100% {
//     transform: scale(1);
//     opacity: 1;
//   }
// }