$site-bg-color: #fff;
$site-text-color: #333;
$site-link-color: #003264;
$site-link-hover-color: #c07f2c;

$white-color: #fff;
$black-color: #000;

$gray-color-3: #333;
$gray-color-4: #666;
$gray-color-5: #999;

$red-color: #ae0000;
$orange-color: #f06d06;
$green-color: #baba71;
$blue-color: #003264;
$blue-green-color: #32889e;
$brown-color: #c07f2c;