@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/animations';

/* https://codepen.io/Raphael/pen/fqweF */

.grid {
  &.pulse {
    margin: 40px 0;

    .circle {
      &:nth-child(1) {
        background: $pulse-color-1;
        /* name duration delay timing-function iteration-count */
        /* these are also available - direction | fill-mode | play-state */
        animation: r1 2s 0s ease-out infinite;
      }

      &:nth-child(2) {
        background: $pulse-color-2;
        animation: r2 2s 0.25s ease-out infinite;
      }

      &:nth-child(3) {
        background: $pulse-color-3;
        animation: r3 2s 0.5s ease-out infinite;
      }

      &:nth-child(4) {
        background: $pulse-color-4;
        animation: r4 2s 0.75s ease-out infinite;
      }

      &:nth-child(5) {
        background: $pulse-color-5;
        animation: r5 2s 1s ease-out infinite;
      }

      &:nth-child(6) {
        background: $pulse-color-6;
        animation: r6 2s 1.25s ease-out infinite;
      }

      // huh???
      &:hover {
        background: $pulse-color-bg;
        animation: pulse-hover 0.5s 0.4s ease-out infinite;
      }
    }
  }
}