.mySwiper {
    background-color: white;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    // padding-bottom: 60px;

    /* Center slide text vertically */
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: -webkit-flex;
    display: flex;
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    // -webkit-justify-content: center;
    justify-content: center;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // -webkit-align-items: center;
    align-items: center;

    .imageHolder {
        img {
            width: 60%;
            margin-bottom: 20px;
        }
    }

    .content {
        position: absolute;
        bottom: 0;
        width: 90%;
        padding: 5px;
        // background-color: #999;

        h4 {
            padding-top: 5px;
            border-top: 1px solid #ccc;
            font-weight: normal;
            // color: #fff;
        }
    }
}
