@import './styles/colors';
@import './styles/typography';
@import './styles/mixins';

// html {
//   box-sizing: border-box;
//   height: 100%;
//   font-family: 'Open Sans', sans-serif;
//   font-size: $base-font-size;
// }
  
// *, *:before, *:after {
//   margin: 0;
//   padding: 0;
//   box-sizing: inherit;
// }
  
// body {
//   background-color: $site-bg-color;
//   color: $site-text-color;
//   font-size: 1rem;
// }

// h3 {
//   font-size: 1rem;
//   margin: .625rem 0;
// }

// p {
//   font-size: 0.875rem;
//   line-height: 1rem;
// }

// a {
//   color: $site-link-color;

//   &:hover,
//   &.active {
//     color: $site-link-hover-color;
//   }

//   &:visited {
//     color: $site-link-hover-color;
//   }
// }

// ul {
//   margin-bottom: 20px;
//   list-style: none;
// }

// li {
//   font-size: 0.875rem;
//   line-height: 1.25rem;
// }

// pre {
//   margin: 10px 0;
//   padding: 10px;
//   background: #dedede;
//   border-radius: 6px;
// }

// .description {
//   margin-bottom:40px;
// }

// images
// img {
//   width: 100%;
// }

figure {
  .filler {
      display: inline-block;
      position: relative;
      width: 100%;
      max-height: 100%;
      padding-bottom: 56%;
      overflow: hidden;
      background: #222;

      > img {
          display: block;
          position: absolute;
          top: 25%;
          left: 50%;
          width: auto;
          max-width: 102%;
          height: 102%;
          max-height: 102%;
          -webkit-transform: translate(-50%, -25%);
          -ms-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
          text-align: center;
      }
  }
}

.section {
  a {
    text-decoration: none;
  }
}

//css grids
.container {
  width: 80%;
  margin: 0 auto;
}

.grid {
  display: grid;
  display: -ms-grid;
  grid-gap: 2.5rem;
  width: 100%;
  margin: 0 auto;
  // padding: 1.5625rem;
}

.grid > .grid {
  width: 100%;
  padding: 0;
}

[data-col="2"] {
  grid-template-columns: repeat(2, [col] 1fr);
}

[data-col="3"],
[data-col="1-2"],
[data-col="2-1"] {
  grid-template-columns: repeat(3, [col] 1fr);
}

[data-col="4"],
[data-col="1-3"],
[data-col="3-1"],
[data-col="2-1-1"],
[data-col="1-2-1"],
[data-col="1-1-2"] {
  grid-template-columns: repeat(4, [col] 1fr);
}

[data-col="5"],
[data-col="1-4"],
[data-col="4-1"] {
  grid-template-columns: repeat(5, [col] 1fr);
}

[data-col="6"],
[data-col="3-1-1-1"],
[data-col="1-3-1-1"],
[data-col="1-1-3-1"],
[data-col="1-1-1-3"] {
  grid-template-columns: repeat(6, [col] 1fr);
}

[data-col="10"] {
  grid-template-columns: repeat(10, [col] 1fr);
}

[data-layout=checkerboard-414] {
  grid-template-columns: repeat(6, [col] auto);
  grid-template-rows: repeat(3, [row] 1fr);
  padding: 0;
}

[data-layout=checkerboard-414] article:nth-child(1) {
  grid-column: col 3/span 2;
  grid-row: row 1/span 2;
}

.grid[data-margin="0"] {
  grid-gap: 0;
  width: 100%;
  padding: 0;
}

@media (max-width: 600px) {
	.container {
		width: 80%;
		padding: 0;
	}

	.grid[data-margin="0"] {
		width: 100%;
		padding: 0;
	}

	[data-col="2"],
  [data-col="3"],
  [data-col="4"],
  [data-col="6"],
  [data-col="4x2"][data-layout="1-4-1"],
  [data-col="4x2"][data-layout="4-1-4"] {
      grid-template-columns: repeat(1, [col] 1fr);
  }

  [data-col="4x2"][data-layout="1-4-1"] article:nth-child(1),
  [data-col="4x2"][data-layout="1-4-1"] article:nth-child(2),
  [data-col="4x2"][data-layout="4-1-4"] article:nth-child(1) {
      grid-column: auto;
      grid-row: auto;
  }
}